<div class="bg-slate-500 w-full h-screen fixed">
    
    <div class="max-w-[1080px] flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0 justify-center ">
        
        <div id="profile" class="w-full lg:w-7/12 rounded-lg lg:rounded-r-none shadow-2xl bg-[#eaedf2] opacity-80 mx-6 lg:mx-0">
            <app-personal-card></app-personal-card>
        </div>
        

        <div class="w-full lg:w-[27rem]">
            <img src="../../../assets/images/IMG_8714.jpg" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block ">
        </div>
        
    </div>

</div>
